@import "~antd/dist/antd.dark.less";
@import "./typography.less";
@import "./btn.less";

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100%;
  background-image: url("../images/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
